
<%=layout ("./layouts/boilerplate.ejs")%>

   <style>
    @media(min-width:500px){
    #filters{
    display: flex;
    flex-wrap: wrap;
    align-items: center;  
   }
  }


   .filter{
    text-align: center;
    /* margin-right: 1rem; */
    margin-top: 1rem;
    opacity: 0.7;
    text-decoration: none !important;
   }
   .filter:hover{
    opacity: 1.5;
    cursor: pointer;
    
   }
   .filter p{
    font-size: 0.8rem;
    color: black;
    text-decoration: underline;
   }
   .filter p:hover{
    text-decoration: none;
    color: cornflowerblue;
   }
   .filter i{
    color: black;
   }
   .tax-info{
    display: none;
   }
   .tax-toggle{
    border: 1px solid black;
    border-radius: 1rem;
    height: 2.8rem;
    padding: 1rem;
    margin-left: 5rem;
    display: flex;
    align-items: center;
   } 
  

   @media(max-width:500px){
    .tax-toggle{
      display: none;
    }
    /* for swapping */
    #filters {
    display: flex;
    overflow-x: auto; /* Allow horizontal scrolling */
    -webkit-overflow-scrolling: touch; /* Enable smooth scrolling on iOS */
    max-width: 100%; /* Ensure the container takes up the available width */
}

.filter {
    flex-shrink: 0; /* Prevent filters from shrinking */
    padding: 0 10px; /* Adjust spacing */
    white-space: nowrap; /* Prevent wrapping */
}

.filter a {
    text-decoration: none; /* Remove underline from links */
    display: inline-block; /* Ensure the link takes up only the necessary space */
}

.filter > div {
    display: inline-block; /* Ensure icon and text are inline */
}
   }
   </style>
   
    <div id="filters">
       <a href="/listing">
       <div class="filter ">
         <button class="btn" type="submit"><i class="fa-solid fa-house"></i><br>All</button>
        </a>
       </div>
        <div class="filter ">
         <form class="d-flex" action="/listing/catagory" method="GET" role="search">
          <input class="form-control me-2 search1-input" type="hidden" name="query" value="City">
          <button class="btn" type="submit"><i class="fa-solid fa-mountain-city"></i><br>city</button>
         </form>
        </div>
        <div class="filter ">
          <form class="d-flex" action="/listing/catagory" method="GET" role="search">
           <input class="form-control me-2 search1-input" type="hidden" name="query" value="mountain">
           <button class="btn" type="submit"><i class="fa-solid fa-mountain"></i><br>Mountains</button>
          </form>
         </div>
         <div class="filter ">
          <form class="d-flex" action="/listing/catagory" method="GET" role="search">
           <input class="form-control me-2 search1-input" type="hidden" name="query" value="rooms">
           <button class="btn" type="submit"><i class="fa-solid fa-bed"></i><br>Rooms</button>
          </form>
         </div>
         <div class="filter ">
          <form class="d-flex" action="/listing/catagory" method="GET" role="search">
           <input class="form-control me-2 search1-input" type="hidden" name="query" value="castele">
           <button class="btn" type="submit"><i class="fa-brands fa-fort-awesome"></i><br>Castels</button>
          </form>
         </div>
         <div class="filter ">
          <form class="d-flex" action="/listing/catagory" method="GET" role="search">
           <input class="form-control me-2 search1-input" type="hidden" name="query" value="pools">
           <button class="btn" type="submit"><i class="fa-solid fa-person-swimming"></i><br>Amazing Pools</button>
          </form>
          </div>
          <div class="filter ">
            <form class="d-flex" action="/listing/catagory" method="GET" role="search">
             <input class="form-control me-2 search1-input" type="hidden" name="query" value="camping">
             <button class="btn" type="submit"><i class="fa-solid fa-campground"></i><br>Camping</button>
            </form>
           </div>
           <div class="filter ">
            <form class="d-flex" action="/listing/catagory" method="GET" role="search">
             <input class="form-control me-2 search1-input" type="hidden" name="query" value="farm">
             <button class="btn" type="submit"><i class="fa-solid fa-tractor"></i><br>Farms</button>
            </form>
           </div>
           <div class="filter ">
            <form class="d-flex" action="/listing/catagory" method="GET" role="search">
             <input class="form-control me-2 search1-input" type="hidden" name="query" value="arctic">
             <button class="btn" type="submit"><i class="fa-regular fa-snowflake"></i><br>Arctic</button>
            </form>
           </div>
           <div class="filter ">
            <form class="d-flex" action="/listing/catagory" method="GET" role="search">
             <input class="form-control me-2 search1-input" type="hidden" name="query" value="domes">
             <button class="btn" type="submit"><i class="fa-solid fa-igloo"></i><br>Domes</button>
            </form>
           </div>
           <div class="filter ">
            <form class="d-flex" action="/listing/catagory" method="GET" role="search">
             <input class="form-control me-2 search1-input" type="hidden" name="query" value="boat">
             <button class="btn" type="submit"><i class="fa-solid fa-ship"></i><br>Boats</button>
            </form>
           </div>
       <div class="tax-toggle">
        <div class="form-check-reverse form-switch">
          <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
          <label class="form-check-label" for="flexSwitchCheckDefault">Display Total After Taxes</label>
        </div>
       </div>
    </div>



<div class="row row-cols-lg-3 row-cols-md-3 row-cols-sm-1 mt-3">
    <% for(let listing of allListing) { %>

        <a href="/listing/<%=listing._id %>" class="listing-link">
   
        <div class="card col listing-card" >
        <img 
        src="<%=listing.image.url%>" 
        class="card-img-top" alt="listing_image"
         style="height: 20rem;"/>

         <div class="card-img-overlay"></div>

        <div class="card-body">
          <p class="card-text"><b><%= listing.title %></b>
        <br>
        &#8377;<%= listing.price.toLocaleString("en-IN") %> /Night
        <i class="tax-info"> &nbsp;&nbsp;+18% gst</i>
    </p>
        </div>
      </div>
    </a>
      <% } %>
</div>


<script>
  let taxSwitch=document.getElementById("flexSwitchCheckDefault")
  taxSwitch.addEventListener("click",()=>{
    let taxInfo= document.getElementsByClassName("tax-info");
    for(info of taxInfo){
      if(info.style.display!="inline"){
        info.style.display="inline";
      }else{
        info.style.display="none";
      }
      
    }
  })
 
</script>


