
<%=layout ("./layouts/boilerplate.ejs")%>

   <style>
   #filters{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
    
   }

   .filter{
    text-align: center;
    margin-right: 2rem;
    margin-top: 2rem;
    opacity: 0.7;
    text-decoration: none !important;
   }
   .filter:hover{
    opacity: 1.5;
    cursor: pointer;
    
   }
   .filter p{
    font-size: 0.8rem;
    color: black;
    text-decoration: underline;
   }
   .filter p:hover{
    text-decoration: none;
    color: cornflowerblue;
   }
   .filter i{
    color: black;
   }
   .tax-info{
    display: none;
   }
   .tax-toggle{
    border: 1px solid black;
    border-radius: 1rem;
    height: 2.8rem;
    padding: 1rem;
    margin-left: 5rem;
    display: flex;
    align-items: center;
   }
   @media(max-width:500px){
    .tax-toggle{
      display: none;
    }
    .c{
      display: none;
    }
    
   }
   </style>
   
    <div id="filters">
     <div class="filter " >
        <div><a href="/listing"><i class="fa-solid fa-house"></i></div>
        <p>All</p></a>
       </div>
       <a href="/listing/city">
       <div class="filter ">
        <div><i class="fa-solid fa-mountain-city"></i></div>
        <p>Cities</p></a>
       </div>
       <a href="/listing/mountain">
       <div class="filter">
        <div><i class="fa-solid fa-mountain"></i></div>
        <p>Mountains</p></a>
       </div>
       <a href="/listing/rooms">
       <div class="filter c">
        <div><i class="fa-solid fa-bed"></i></div>
        <p>Rooms</p></a>
       </div>
       <a href="/listing/castele">
       <div class="filter c">
        <div><i class="fa-brands fa-fort-awesome"></i></div>
        <p>Castels</p></a>
       </div>
       
       <a href="/listing/pool">
       <div class="filter c">
        <div><i class="fa-solid fa-person-swimming"></i></div>
        <p>Amazing Pools</p></a>
       </div>
       <a href="/listing/camping">
       <div class="filter ">
        <div><i class="fa-solid fa-campground"></i></div>
        <p>Camping</p></a>
       </div>
       <a href="/listing/farm">
       <div class="filter c">
        <div><i class="fa-solid fa-tractor"></i></div>
        <p>Farms</p></a>
       </div>
       <a href="/listing/arctic">
       <div class="filter c">
        <div><i class="fa-regular fa-snowflake"></i></div>
        <p>Arctic</p></a>
       </div>
       <a href="/listing/domes">
       <div class="filter c">
        <div><i class="fa-solid fa-igloo"></i></div>
        <p>Domes</p></a>
       </div>
       <a href="/listing/boat">
       <div class="filter ">
        <div><i class="fa-solid fa-ship"></i></div>
        <p>Boats</p></a>
       </div>
       <div class="tax-toggle">
        <div class="form-check-reverse form-switch">
          <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
          <label class="form-check-label" for="flexSwitchCheckDefault">Display Total After Taxes</label>
        </div>
       </div>
    </div>



<div class="row row-cols-lg-3 row-cols-md-3 row-cols-sm-1 mt-3">
    <% for(let listing of allListing) { %>

        <a href="/listing/<%=listing._id %>" class="listing-link">
   
        <div class="card col listing-card" >
        <img 
        src="<%=listing.image.url%>" 
        class="card-img-top" alt="listing_image"
         style="height: 20rem;"/>

         <div class="card-img-overlay"></div>

        <div class="card-body">
          <p class="card-text"><b><%= listing.title %></b>
        <br>
        &#8377;<%= listing.price.toLocaleString("en-IN") %> /Night
        <i class="tax-info"> &nbsp;&nbsp;+18% gst</i>
    </p>
        </div>
      </div>
    </a>
      <% } %>
</div>


<script>
  let taxSwitch=document.getElementById("flexSwitchCheckDefault")
  taxSwitch.addEventListener("click",()=>{
    let taxInfo= document.getElementsByClassName("tax-info");
    for(info of taxInfo){
      if(info.style.display!="inline"){
        info.style.display="inline";
      }else{
        info.style.display="none";
      }
      
    }
  })
 
</script>


